<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col text-center">Card</div>
        <div class="col text-center">Count</div>
        <div class="col text-center">Average</div>
      </div>
      <div class="row" *ngFor="let c of deckOfCards">
        <div class="col text-center" [innerText]="c.card"></div>
        <div class="col text-center" [innerText]="c.count"></div>
        <div class="col text-center">{{ c.average + '%'}}</div>
      </div>
    </div>
    <div class="col-3">
      <form #iterationForm="ngForm" (ngSubmit)="simulate()">
        <div class="form-group">
          <label for="iterations">Iterations: </label>
          <input type="text" class="form-control" id="iterations" name="iterations" [(ngModel)]="iterations" />
        </div>

        <button type="submit" class="btn btn-warning">Simulate!</button>
      </form>

      <p class="mt-5">Differential: {{ differential + '%' }}</p>
      <p class="mt-1">Iterations: {{ totalIterations }}</p>

    </div>
  </div>
</div>
